.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px;
  font-size: 14px;
  color: #212529;

  a {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3px;
      height: 1px;
      background: #000;
    }
  }
}
